@font-face{
    font-family:"Pacifico";
    src:url(../fonts/Pacifico-Regular.ttf);
}
@font-face{
    font-family:"Montserrat";
    src:url(../fonts/Montserrat-Regular.ttf);
}
@font-face{
    font-family:"Montserrat";
    font-weight:bold;
    src:url(../fonts/Montserrat-Bold.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;
}

body{
font-family: 'Montserrat', sans-serif;
margin: 0;
padding: 0;
}


img{
    display: block;
    width: 100%;
    max-width: 100%;
}

.bannerseccion2{
    display: none;
}
.bannerV{
    margin-top: 100px;
    position: relative;
    /* border: 3px solid red; */

}

/* .bannerV::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(85,28, 80, 0.7);
    z-index: 10;
    top: 0;
} */
.banner__img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.banner__content{
    width: 90%;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    /* background:rgba(85,28, 80, 0.7); ; */
    background:rgb(85,28, 80) ;
    /* text-align: ; */
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(35%);
}



.ventajas{
    margin-top: 30%;
}
.ventajasContainer2{
    /* border: 4px solid red; */
    width: 100%;

    display: flex;
    flex-direction: column;

}
.columIconText{
    /* border: 3px solid gold; */
    width: 100%;
    padding: 2%;
    display: flex; /* Utilizar flexbox para alinear los elementos en una fila */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan a la siguiente línea si no hay suficiente espacio */
    margin: 0 auto;
    justify-content: space-between;
}

.colum50Ventajas{
    /* border: 3px solid red; */
   
    width: 100%; /* Establecer el ancho al 100% para que ocupe todo el espacio disponible */
    box-sizing: border-box; /* Incluir el padding y el borde en el ancho total */
    padding: 0 10px; /* Añadir padding para separar los elementos */
    
}




.imgIconVentjas2{
    /* border: 4px solid forestgreen; */
    
    width: 30%;
   
    object-fit: cover;
    margin: 0 auto;
}

.textoVen{
    /* border: 3px solid greenyellow; */
    margin: 0 auto;
    text-align: center;
    width: 100%;
}





@media screen and (min-width:200px){
.columimg, .columimg2 {
    display: none;
}
}





@media screen and (min-width: 1120px)  { 
    
}




@media screen and (min-width:1300px){
    .columimg, .columimg2 {
        display: block;
    }

    .bannerV{
        margin-top: 115px;
        /* border: 3px solid red; */
    }

    .banner__img{
        width: 100%;
        height: 90vh;
    }

    .banner__content{
        width:50%;
    }

    .ventajasContainer2{
        /* border: 3px solid gold; */
       flex-direction: row;
       width: 95%;
       margin: 0 auto;
        
    }


    .columIconText{
        /* border: 5px solid aquamarine; */
        width: 20%;
    }

    .colum50Ventajas{
        /* border: 5px solid aquamarine; */
    }
    .columimg, .columimg2{
        /* border: 3px solid blue; */
        width: 80%;
        display: flex;
        justify-content: space-between; /* Las imágenes estarán distribuidas uniformemente en el contenedor */
        align-items: center; 
        padding: 20px;
    }
   

    .imgventajas, .imgventajas2{
        /* border: 6px solid maroon; */
        width: 50%; /* Ajusta el tamaño de las imágenes según tus preferencias */
        padding: 15px;
        
    }

    .Placa, .Placa3 {
        width: 20%;
        /* height: auto; */
    }


    .ventajas{
     
        margin-top:  5%;
    }




    .contenedorTabla{
        width: 80%;
        margin: 0 auto;
        padding-top: 5%;
    }
    table {
        width: 100%;
        margin: 0 auto;
        border-collapse: collapse;
        /* border: 3px solid tan; */
        margin-bottom: 10%;
    }
    
    .titleTable{
        text-align: center;
        font-weight: bold;
        color: #551C50;
        font-size: 3em;
        /* border: 3px solid darkcyan; */
        padding: 15px;
        padding-bottom: 5%;
    }
    
    .titleFilas{
        /* border: 3px solid darkcyan; */
        font-size: 3em;
        font-weight: 600;
        
        padding-bottom: 4%;
        
        color: #551C50;
    }
    
    
    
    .marca {
        text-align: center;
        color: #551C50;
        font-size: 3em;
    }
    .marca2{
        
        text-align: center;
        color: #777777;
        font-size: 3em;
    }
    
    /* Estilos para las filas */
    
    
    /* Estilo para las celdas de la primera columna */
    td:first-child {
        border-left: none;
    }
    
    /* Estilo para las celdas de la última columna */
    td:last-child {
        border-right: none;
    }
    




}


@media screen and (min-width:1500px){
    

}  