@font-face{
    font-family:"Pacifico";
    src:url(../fonts/Pacifico-Regular.ttf);
}
@font-face{
    font-family:"Montserrat";
    src:url(../fonts/Montserrat-Regular.ttf);
}
@font-face{
    font-family:"Montserrat";
    font-weight:bold;
    src:url(../fonts/Montserrat-Bold.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


*{
    box-sizing: border-box;
    }
    
    body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background: #Fff;
    }

    /* ---estilos menú grande--- */
    .headerConten{
        /* display: flex; */
        /* border: 10px solid firebrick; */
        width: 100%;
        padding-top: 0;

    }
    
    .logo{
        width: 6%;
        height: 6%;
        z-index: 10;
        margin: 20px 90px;
        /* margin: 0 auto; */
        /* border: 1px solid hotpink; */
    }
    .menu-header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: none;
        /* flex-direction: column; */
        justify-content: space-around;
        transition: 0.7s;
        padding: 0px 0px;
        z-index: 10;
        background: #fff;
        /* border: 2px solid rebeccapurple; */
    }
    .abajo{
        background: #fff;
        padding: 8px 20px;
      }
      .Contenedor_menu_grande{
        display: flex;
      }
      .menu-nav{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: 0 auto; */
        height: 12%;
        width: 100%;
        /* border: 2px solid lawngreen; */
        
      }
      .menu-contenedor_list{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* border: 2px solid magenta; */
      }
      .menu_list{
        list-style: none;
        padding: 5px;
        width: 100%;
        margin-top: 0;
        /* border: 2px solid yellow; */
      }
      /* .menu_list:hover{
        background: black;
      } */
      .menu_link{
        text-decoration: none;
        position: relative;
        /* font-family: Arial, Helvetica, sans-serif; */
        margin:  0 15px;
        color: black;
        letter-spacing: 2px;
        font-weight: 600;
        transition: 0.7s;
        font-size: 1.3em;
        /* background: rgba(0,0,0,0.1); */
        padding: 10px;
      
        /* border: 2px solid aqua; */
      
      }
      .zona1{
        position: relative;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center center;
    }
    .abajo .menu_link{
        color: black;
    }
    .menu_link::before {
        content: "";
        position: absolute;
        bottom: 0;
        top: 40px;
        /* top: 25px; */
        left: 0;
        right: 0;
        height: 2px;
        background-color: #551C50;
      
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s ease-out;
    }
    .menu_link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    }
    .abajo .logo{
      width: 5%;
      height: 5%;
      /* margin: 0 auto; */
      margin: 20px 90px;
    }
    .abajo .infoHeader{
        display: none;
    }
    .abajo .menu_link{
        font-size: 1.2em;
        /* border: 2px solid teal; */
    }


.bannerseccion{
  display: none;
}

.banner5{
  margin-top: 100px;
  position: relative;
}

.banner__img5{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.banner__content5{
  width: 90%;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    /* background:rgba(85,28, 80, 0.7); ; */
    background:rgb(85,28, 80) ;
    /* text-align: ; */
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(35%);
}
.title__Banner{
  /* border: 3px solid gold; */
  margin-bottom: 5%;
}



/* =====BENEFICIOS======= */
.beneficios{
  margin-top: 10%;
}
.beneficios_container {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  column-count: 2; /* Establece el número de columnas */
  column-gap: 20px; /* Establece el espacio entre columnas */
  /* border: 3px solid greenyellow; */

  
}

.columna {
  break-inside: avoid; /* Evita que este div se divida entre columnas */
  margin-bottom: 20px; /* Ajusta el espacio entre los elementos */
  text-align: center;
  margin-top: 5%;
  
  /* border: 3px solid gold; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);


}

.columna i {
  font-size: 2.3em;
  color: #551C50;
  margin-top: 10%;
   /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */ 
 }

 .iconosBeneficios{
  border: 3px solid #551C50;
  margin-top: 10px; 
  margin-bottom: 5%;
}
.texto {
  font-size: 1em;
  margin-bottom: 5%;
}




/* ========VENTAJAS========= */
.Ventajas{
  margin-top: 5%;
  margin-bottom: 10%;
}

.columna_50{
  width: 100%;
}

.imgventajas{
  width: 100%;
  height: 300px;
  object-fit: cover;
}


.titleVentajas{ 
  font-size: 2em;
  font-weight: 600;
  width: 85%;
  padding-left: 20px;
  color: #551C50;
  /* margin-top: 10px; */
  
}
.textVentajas{
  text-align: justify;
  padding: 30px;
  color: #551C50;
  font-size: 1.1em;
}

.iconVentajas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  
}

.columImg{
  width:50% ;
  box-sizing: border-box;
  padding: 5px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}
.textoV{
  color: #551C50;
  /* margin-top: 40px; */
  
  margin-top: 10px;
}


.masVentajas{
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  /* margin-left: 1%; */
  margin-top: 30px;
}

.linkMas{
  display: inline-block;
  padding: 10px 20px;
  background-color: #551C50;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 30px;
  
}

.masVentajasline{

  width: 50%;
  /* border-bottom:10px solid #551C50; */
  display: inline-block;
  padding: 5px 20px;
  background-color: #551C50;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}
.imgIconVentjas{
  /* border: 1px solid greenyellow; */
  width: 50%;
}







/* --------------------------- */

@media screen and (min-width:480px){
  .menu-header{
    display: none;
  }
}

@media screen and (min-width:768px){
 
 
  .banner5{
    margin-top: 100px;
  }

  .title__Banner{
    font-size: 2em;
  }







  .ventajasContainer{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0 auto;
    padding: 50px;
  }
}

@media screen and (min-width: 1120px)  { 
  .menu-header{
    display: flex;
  }
 
  


  .ventajasContainer{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0 auto;
    padding: 50px;
  }
} 

@media screen and (min-width:1300px){
  .banner5{
    margin-top: 108px;
  }

  .banner__content5{
    width:50%;
  }


  .beneficios{
    display: none;
  }





  .imgventajas{
    width: 80%;
    height: auto;
  }
  .titleVentajas{ 
    font-size: 1.1em;
    font-weight: 600;
    width: 60%;
    padding-left: 20px;
    color: #551C50;
    /* margin-top: 10px; */
    
  }
  .textVentajas{
    text-align: justify;
    padding: 30px;
    color: #551C50;
    font-size: 1.1em;
  }

  
  .imgIconVentjas{
    /* border: 1px solid greenyellow; */
    width: 20%;
  }
}

@media screen and (min-width:1500px){
  .banner__img5{
    width: 100%;
    height: 90vh;
  }

  .banner__content5{
    width:40%;

    
  }

  .title__Banner{
    font-size: 3em;
  }

  .text__banner{
    font-size: 1.3em;
  }








  .Ventajas{
    margin-top: 5%;
  }
  .ventajasContainer{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0 auto;
    padding: 50px;
  }
  .columna_50{
    width: 50%;
  }
  .imgV{
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .imgventajas{
    width: 80%;
    height: auto;
  }
  .titleVentajas{ 
    font-size: 2em;
    font-weight: 600;
    width: 60%;
    padding-left: 20px;
    color: #551C50;
    /* margin-top: 10px; */
    
  }
  .textVentajas{
    text-align: justify;
    padding: 30px;
    color: #551C50;
    font-size: 1.5em;
  }
  .iconVentajas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
  .columImg{
    width:33% ;
    box-sizing: border-box;
    padding: 5px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .textoV{
    color: #551C50;
    /* margin-top: 40px; */
    font-size: 1.5em;
    margin-top: 10px;
  }

  .masVentajas{
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    /* margin-left: 1%; */
    margin-top: 30px;
  }
  .linkMas{
    display: inline-block;
    padding: 10px 20px;
    background-color: #551C50;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 30px;
    
  }
  .masVentajasline{

    width: 50%;
    /* border-bottom:10px solid #551C50; */
    display: inline-block;
    padding: 5px 20px;
    background-color: #551C50;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
  }


  .imgIconVentjas{
    /* border: 1px solid greenyellow; */
    width: 30%;
  }
  
  
  
}