

.slider-container {
    width: 100%;
    height: 100vh;
    /* border: 3px solid gold; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 7%;
}

.slider {
    width: 80%;
    overflow: hidden;
    position: relative;
    /* border: 3px solid firebrick; */
}

.slide {
    float: left;
    width: 100%;
    height: auto;
    max-width: 100%; /* Establece un ancho máximo del 100% para las imágenes */
    max-height: 100%;
    transition: opacity 0.5s ease;
}

.imgS {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    z-index: 1;
}

.prev {
    left: 8%;
}

.next {
    right: 8%;
}